git_url: git@github.com:hbussell/release-hub-jenkins-plugin.git
credentials: jenkins
recipients: user@email.com
report_path: build/*.xml
pre_build_shell:
  - echo "pre build" > /dev/null
post_build_shell:
  - echo "post build" > /dev/null
description: {{branch}} Job
htmlPublishers:
