*.swp
# Bootstrapi
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
config.php
# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
