<?php


$app['debug'] = true;
$app['jenkins_uri'] = 'https://your.jenkins.net:8080';
$app->register(new Silex\Provider\DoctrineServiceProvider(), array(
    'db.options' => array(
        'driver'   => 'pdo_mysql',
        'host'     => 'localhost',
        'dbname'     => 'relhub_jenkins',
        'user'     => 'user',
        'password'     => 'pass',
    ),
));

